.footer {
  background-color: $primary;
  padding: 64px 0 60px;

  &__inner {
    display: flex;
  }

  &__contacts {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }

  &__logo {
    margin-bottom: 22px;
  }

  &__info {
    font-style: normal;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    font-family: 'Roboto', sans-serif;
    color: $accent-second;
    transition: outline 0.4s, color 0.4s, opacity 0.4s;

    &--white {
      color: $light;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      opacity:0.6;
      color: $accent-second;
    }
  }

  &__social-links {
    margin-right: 40px;
  }

  &__title {
    padding-top: 8px;
    line-height: 1.2;
    color: $light;
    text-transform: uppercase;
    margin-bottom: 19px;
  }

  &__subscribe {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }
}

.form-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    flex-grow: 1;
    height: 100%;
    padding: 15px 16px;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid rgba($light, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &::placeholder {
      color: rgba($light, 0.6);
    }

     &:focus {
       outline: solid 1px $accent;
       outline-offset: 4px;
       border-radius: 4px;
     }

     &:hover {
       &.form-subscribe__input::placeholder {
         color: $accent;
       }
     }
  }
}

