.hero {
  background-color: $primary;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
  }

  &__content {
    max-width: 700px;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $light;
    margin-bottom: 30px;
  }
}