html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  font-style: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary;
  background-color: $light;
}

main {
  flex-grow: 1;
}

.logo {
  display: block;
  width: fit-content;
  transition: outline 0.4s;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.focus {
  transition: color 0.4s, outline 0.4s;
  &:focus {
    outline: solid 1px $accent;
    outline-offset: 4px;
    border-radius: 4px;
  }
}

