$accent: #EC3C05;
$accent-second: #F29040;
$accent-medium: #EFC983;
$accent-light: #FFEC9B;
$primary: #070303;
$secondary: #757575;

$grey-dark: #212121;
$grey-light: #ECECEC;
$light: #fff;
$dark: #0000;
$bg: #F5F4FA;