.footer {
  background-color: $primary;
  padding: 64px 0 60px;

  &__logo {
    margin-bottom: 22px;
  }

  &__info {
    font-style: normal;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    font-family: 'Roboto', sans-serif;
    color: $accent-second;
    transition: outline 0.4s, color 0.4s, opacity 0.4s;

    &:hover {
      color: $accent;
    }

    &:active {
      color: rgba($accent-second, 0.6);
    }
  }

  &__link--white {
    color: $light;

    &:hover {
      color: $accent;
    }

    &:active {
      color: rgba($light, 0.6);
    }
  }
}