.header {
  padding: 8px 0 4px;
  background-color: $light;
  border-bottom: 1px solid $grey-light;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 89px;
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 42px;
  }

  &__link {
    display: inline-block;
    padding: 24px 4px;
    color: $primary;
    position: relative;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.3;
    transition: color 0.5s;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      bottom: -5px;
      left: 0;
      background-color: $accent;
      border-radius: 2px;
      transform: scaleX(0);
      transition: outline 0.4s, transform 0.5s;
    }

    &.current {
      color: $accent;

      &::after {
        transform: scaleX(1);
      }
    }

    &:hover {
      color: $accent;

      &::after {
        transform: scaleX(1);
      }
    }

    &:focus {
      outline: solid 1px $accent;
      border-radius: 4px;
    }

    &:active {
      color: rgba($primary, 0.5);

      &::after {
        transform: scaleX(0);
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__contact:not(:last-child) {
    margin-right: 45px;
  }

  &__contact {
    display: flex;
    align-items: center;
    color: $secondary;
    transition: color 0.4s;
    margin-left: auto;
    transition: outline 0.4s, color 0.4s;

    &:hover {
      color: $accent;
    }

    &:active {
      color: rgba($accent, 0.7);
    }
  }

  &__contact-icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 0.4s;
  }

}