.info {
   &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {
    width: calc((100% - 3 * 30px) / 4);
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $grey-dark;
    margin-bottom: 9px;
  }
}
