.services {
  text-align: center;
  padding-top: 0;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {
    position: relative;
    width: calc((100% - 2 * 30px) / 3);
  }

  &__content {
    background-color: rgba($dark, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 26px 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light;
  }

  &__img {
    object-fit: cover;
  }

}